<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="headFragment">
    <div class="header">
        <nav>
            <ul class="header-nav-ul">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/users">Пользователи</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ORGANIZER')">
                    <a href="/events/my">Мои мероприятия</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ORGANIZER', 'ROLE_ADMIN')">
                    <a href="/events/add">Добавить мероприятие</a>
                </li>
                <li>
                    <a href="/orders/my">Мои заказы</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/orders">Все заказы</a>
                </li>
                <li>
                    <a href="/cart">Корзина<span id="header-cart-count">10</span></a>
                </li>
                <li>
                    <a href="/users/me">Профиль</a>
                </li>
                <li>
                    <a href="/logout">Выход</a>
                </li>
            </ul>
        </nav>
    </div>

    <script>
        function updateCartCount() {
            const myCart = JSON.parse(localStorage.getItem("cart"))
            console.log(myCart);
            document.getElementById("header-cart-count").textContent = myCart != null ? ` (${myCart.length})` : " (0)";
        }
        updateCartCount();
    </script>
</header>
</body>
</html>