<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Login</title>
</head>
<body>
<div class="auth-container">
    <div class="left-column-auth">
        <h1>Онлайн афиша</h1>
        <p>Еще нет аккаунта? <a href="/auth/registration">Регистрация</a></p>
    </div>
    <div class="right-column-auth">
        <form name="form" method="post" action="/auth/authenticate">
            <div class="auth-container-field">
                <label for="email">Email</label>
                <input type="email" name="username" id="email"><br/>
            </div>

            <div class="auth-container-field">
                <label for="pass">Пароль</label>
                <input type="password" name="password" id="pass"><br/>
            </div>

            <div class="auth-container-field auth-submit">
                <input type="submit" value="Войти">
            </div>

            <div th:if="${param.error}" style="color: red">
                Неправильные имя или пароль
            </div>

            <div th:if="${registrationSuccess}">
                <p>Вы успешно зарегистрированы! Теперь вы можете войти в свой аккаунт.</p>
            </div>
        </form>
    </div>
</div>
</body>
</html>