html {
    font-family: Montserrat;
    margin: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://img.freepik.com/free-photo/grungy-gray-marble-textured-background_53876-108405.jpg?t=st=1717518666~exp=1717522266~hmac=7f8f457ce5f44195ed76372c8057965b3729f9e3f0cdd97984dec6a1e2734afd&w=1380");
}

body {
    margin: 0;
}

main {
    margin: 4em 2em 0 2em;
}

button {
    background-color: #da0078;
    color: #ffffff;
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #7800da;
}

ul {
    list-style-type: none;
    margin: 0;
}

table, thead, tr {
    border: 1px solid #000000;
    border-radius: 10px;
}

table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.5em;
    text-align: left;
}

.event-card {
    background-color: #ffffff;
    padding: 1em;
    border: 1px solid;
    border-radius: 10px;
    margin: 1em;
}

.event-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
}