html {
    font-family: Montserrat;
    margin: 0;
}

body {
    margin: 0;
}

main {
    margin: 0 2em;
}

ul {
    list-style-type: none;
    margin: 0;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}