body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.error-role-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-role-container p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error-role-container a {
    text-decoration: none;
    color: #da0078;
}

.error-role-container a:hover {
    color: #7800da;
}
