.header {
    padding: 1em 0;
    background: linear-gradient(0.25turn, #7800da, #da0078);
    color: #ffffff;
}

.header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-ul a {
    text-decoration: none;
    color: #ffffff;
}

.header-nav-ul a:visited {
    color: #ffffff;
}