.header {
    background-color: #bbe1fa;
    padding: 1em 0;
}

.header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-ul a {
    text-decoration: none;
}

.header-nav-ul a:visited {
    color: black;
}