<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Корзина</title>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<main>
    <div class="cart-name-container">
        <h2>Корзина</h2>
        <p>Общее количество товаров: 0</p>
    </div>
    <div id="cart-event-card-container"></div>
    <p id="totalPrice"></p> <!-- Элемент для отображения общей суммы -->
    <button class="cart-purchase-button" onclick="checkout()" th:if="${not #lists.isEmpty(cart)}">Оформить заказ</button>
</main>
<script>
    // Получение данных из локального хранилища
    let cartFromStorage = localStorage.getItem('cart');
    let cart = JSON.parse(cartFromStorage);

    // Функция для расчета цены
    function calculatePrice(price, count) {
        return price * count;
    }

    // Отображение данных в виде карточек
    const cartContainer = document.getElementById('cart-event-card-container');
    const totalPriceElement = document.getElementById('totalPrice');

    function renderCart() {
        let totalPrice = 0; // Переменная для хранения общей суммы

        if (cart) {
            cart.forEach(function (item, index) {
                const card = document.createElement('div');
                card.classList.add('cart-card');

                const title = document.createElement('h2');
                title.textContent = item.event.name;

                const dateTime = document.createElement('p');
                dateTime.textContent = item.event.dateTime;

                const price = document.createElement('p');
                const itemPrice = calculatePrice(item.event.price, item.count);
                price.textContent = 'Итоговая цена: ' + itemPrice;
                totalPrice += itemPrice; // Увеличиваем общую сумму

                const countContainer = document.createElement('div');
                countContainer.classList.add('cart-count-container');

                const countInput = document.createElement('input');
                countInput.type = 'number';
                countInput.value = item.count;
                countInput.addEventListener('input', function () {
                    item.count = this.value;
                    localStorage.setItem('cart', JSON.stringify(cart));
                    price.textContent = 'Итоговая цена: ' + calculatePrice(item.event.price, item.count);
                    updateTotalPrice();
                });

                const removeButton = document.createElement('button');
                removeButton.textContent = 'Удалить';
                removeButton.classList.add('cart-delete-button');
                removeButton.addEventListener('click', function () {
                    cart.splice(index, 1);
                    localStorage.setItem('cart', JSON.stringify(cart));
                    renderCart();
                    updateTotalPrice(); // Обновляем общую сумму после удаления
                });

                countContainer.appendChild(countInput);
                countContainer.appendChild(removeButton);

                card.appendChild(title);
                card.appendChild(dateTime);
                card.appendChild(price);
                card.appendChild(countContainer);

                cartContainer.appendChild(card);
            });

            const cartNameContainer = document.querySelector('.cart-name-container');
            cartNameContainer.querySelector('p').textContent = `Общее количество товаров: ${cart.length}`;

            updateTotalPrice(); // Инициализация отображения общей суммы
        }

        function updateTotalPrice() {
            totalPrice = 0; // Обнуляем общую сумму перед пересчетом
            cart.forEach(function (item) {
                totalPrice += calculatePrice(item.event.price, item.count); // Пересчитываем общую сумму
            });
            totalPriceElement.textContent = 'Общая сумма: ' + totalPrice;
        }
    }

    renderCart();

    function formatDate(date) {
        let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear(),
            hour = '' + d.getHours(),
            minute = '' + d.getMinutes(),
            second = '' + d.getSeconds(),
            millisecond = '' + d.getMilliseconds();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        if (hour.length < 2)
            hour = '0' + hour;
        if (minute.length < 2)
            minute = '0' + minute;
        if (second.length < 2)
            second = '0' + second;
        while (millisecond.length < 3)
            millisecond = '0' + millisecond;

        return [year, month, day].join('-') + 'T' + [hour, minute, second].join(':') + '.' + millisecond + 'Z';
    }

    // Функция для оформления заказа
    function checkout() {
        const cartFromStorage = localStorage.getItem('cart');
        const cart = JSON.parse(cartFromStorage);

        cart.forEach(item => {
            item.event.dateTime = formatDate(item.event.dateTime);
        });

        console.log(cart);

        fetch('/cart/purchase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(cart)
        }).then(response => {
            if (response.ok) {
                console.log('Заказ успешно оформлен!');
                localStorage.removeItem('cart');
                renderCart();
            } else {
                console.error('Ошибка при оформлении заказа');
            }
        });
    }
</script>
</body>
</html>
