<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">
    <link rel="stylesheet" href="/css/editUser.css">
    <title>Редактирование профиля</title>

    <script>
        function confirmEditUser() {
            fetch(`/users/edit${user.id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            }).then(response => {
                if (response.ok) {
                    console.log('Пользователь успешно добавлен!');
                } else {
                    console.error('Ошибка при редактировании пользователя');
                }
            });
        }
    </script>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<main>
    <h2 th:text="${'Редактирование профиля пользователя №' + user.id}"/>
    <form th:action="@{/users/edit/{id}(id=${user.id})}" method="post" th:object="${user}">
        <div class="profile-container">
            <div>
                <label for="lastName">Фамилия:</label>
                <input type="text" th:field="*{lastName}" id="lastName"><br/>
            </div>
            <div>
                <label for="firstName">Имя:</label>
                <input type="text" th:field="*{firstName}" id="firstName"><br/>
            </div>
            <div>
                <label for="patronymic">Отчество:</label>
                <input type="text" th:field="*{patronymic}" id="patronymic"><br/>
            </div>
            <div>
                <label for="phoneNumber">Номер телефона:</label>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber"><br/>
            </div>
            <div>
                <label for="birthDate">Дата рождения:</label>
                <input type="date" th:field="*{birthDate}" id="birthDate"><br/>
            </div>
            <div>
                <label for="email">Электронная почта:</label>
                <input type="email" th:field="*{email}" id="email"><br/>
            </div>
        </div>
        <button type="submit">Сохранить изменения</button>
    </form>
</main>
</body>
</html>
