<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/event.css">
    <title>Мероприятия</title>
    <script>
        function redirectToEditEvent(eventId) {
            window.location.href = "/events/edit/" + eventId;
        }

        function deleteEvent(eventId) {
            fetch('/events/delete/' + eventId, {
                method: "POST",
            })
                .then(response => response.text())
                .then(data => {
                    window.location.href = "/"
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<main>
    <h2 th:text="${'Мероприятие №' + event.id}"/>
    <div class="profile-container">
        <div>
            <b>Название</b>
            <p th:text="${event.name}"/>
        </div>
        <div>
            <b>Цена</b>
            <p th:text="${event.price}"/>
        </div>
        <div>
            <b>Дата и время</b>
            <p th:text="${event.dateTime}"/>
        </div>
        <div>
            <b>Куплено билетов</b>
            <p th:text="${statistic_number != null ? statistic_number : 0}"/>
        </div>
    </div>
    <div>
        <button th:onclick="'redirectToEditEvent(' + ${event.id} + ')'">Редактировать</button>
        <button class="event-delete-button" th:onclick="'deleteEvent(' + ${event.id} + ')'">Удалить</button>
    </div>
</main>
</body>
</html>