<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">

    <title>Онлайн афиша</title>

    <script>
        function addToCart(event) {
            let eventAttr = event.target.getAttribute('data-event').replace("Event", "");

            console.log("eventAttr", eventAttr);

            let keyValuePairs = eventAttr.slice(1, -1).split(", ");
            console.log("keyValuePairs", keyValuePairs);
            let eventObj = {};
            keyValuePairs.forEach(function (pair) {
                let parts = pair.split("=");
                let key = parts[0].trim();
                let value = parts[1].trim().replace(/'/g, ""); // Удаляем одинарные кавычки
                if (key === 'id' || key === 'name' || key === 'price' || key === 'dateTime') {
                    eventObj[key] = value;
                }
            });

            let eventCount = document.getElementById(`eventCountInput-${eventObj["id"]}`).value;
            console.log('eventCount', eventCount);

            console.log(document.getElementById(`eventCountInput-${eventObj["id"]}`));

            const eventInfo = {event: eventObj, count: eventCount};
            const cartFromStorage = localStorage.getItem('cart');
            console.log(cartFromStorage);

            let cart = [];
            if (cartFromStorage && cartFromStorage.trim() != '') {
                cart = JSON.parse(cartFromStorage);
            }

            console.log(cart);

            // Удаление старого мероприятия
            cart = cart.filter(item => item.event.id !== eventObj.id);

            // Добавление нового мероприятия
            cart.push(eventInfo);
            localStorage.setItem('cart', JSON.stringify(cart));

            console.log(JSON.stringify(localStorage.getItem('cart')));

            document.getElementById(`add-to-cart-button-${eventObj["id"]}`).style.backgroundColor = 'green';
            document.getElementById(`add-to-cart-button-${eventObj["id"]}`).textContent = 'Добавлено';
        }
    </script>

    <script>
        function addEventRedirect() {
            window.location.href = "/addEvent";
        }
    </script>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>

<main>
    <p>Добро пожаловать на главную страницу!</p>
    <!--
    -->
    <form id="sortForm" method="get">
        <button id="sortButton" type="submit" onclick="sortEvents(event)">Сортировать по дате</button>
    </form>
    <button id="addEventButton" onclick="addEventRedirect()">Создать мероприятие</button>

    <div class="event-card-container">
        <div class="event-card" th:each="event : ${events}">
            <div>
                <div>
                    <strong><a href="" th:text="${event.name}">Название</a></strong>
                </div>
                <div>
                    <span th:text="${'Дата проведения: ' + event.DateTime}">Дата</span>
                </div>
                <div>
                    <span th:text="${'Цена: ' + event.price + '₽'}">₽300.00</span>
                </div>
            </div>
            <div>
                <label>Количество билетов</label>
                <input th:id="${'eventCountInput-' + event.id}" type="number" min="0"/>
                <button th:id="${'add-to-cart-button-' + event.id}" onclick="addToCart(event)"
                        th:attr="data-event=${event}">Добавить
                </button>
            </div>
        </div>
    </div>
</main>

<script>
    function sortEvents(event) {
        event.preventDefault();
        console.log("test");
        fetch('/sortEventsByDate', {
            method: 'GET'
        })
            .then(response => {
                if (response.ok) {
                    // window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.getElementById("sortForm").addEventListener('click', function (event) {
        event.preventDefault();
        fetch('/sortEventsByDate').then(response => {
            if (response.ok) {
                window.location.reload();
            }
        })
    });
</script>
</body>
</html>