<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">

    <title>Онлайн афиша</title>

    <script>
        function addToCart(event) {
            let eventAttr = event.target.getAttribute('data-event').replace("Event", "");

            console.log("eventAttr", eventAttr);

            let keyValuePairs = eventAttr.slice(4, -1).split(", ");
            console.log("keyValuePairs", keyValuePairs);
            let eventObj = {};
            keyValuePairs.forEach(function (pair) {
                let parts = pair.split("=");
                let key = parts[0].trim();
                let value = parts[1].trim().replace(/'/g, ""); // Удаляем одинарные кавычки
                eventObj[key] = value;
            });

            let eventCount = document.getElementById(`eventCountInput-${eventObj["id"]}`).value;
            console.log('eventCount', eventCount);

            console.log(document.getElementById(`eventCountInput-${eventObj["id"]}`));

            const eventInfo = {event: eventObj, count: eventCount > 0 ? eventCount : 1};
            const cartFromStorage = localStorage.getItem('cart');
            console.log(cartFromStorage);

            let cart = [];
            if (cartFromStorage && cartFromStorage.trim() != '') {
                cart = JSON.parse(cartFromStorage);
            }

            console.log(cart);

            // Удаление старого мероприятия
            cart = cart.filter(item => item.event.id !== eventObj.id);

            // Добавление нового мероприятия
            cart.push(eventInfo);
            localStorage.setItem('cart', JSON.stringify(cart));

            console.log(JSON.stringify(localStorage.getItem('cart')));

            document.getElementById(`add-to-cart-button-${eventObj["id"]}`).style.backgroundColor = 'green';
            document.getElementById(`add-to-cart-button-${eventObj["id"]}`).textContent = 'Добавлено';
            updateCartCount()
        }
    </script>

    <script>
        function addEventRedirect() {
            window.location.href = "/events/add";
        }
    </script>


</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>

<main>
    <p>Добро пожаловать на главную страницу!</p>
    <form id="sortForm" method="get">
        <div>
            <select id="sortSelect">
                <option value="dateTime">Дата</option>
                <option value="price">Цена</option>
                <option value="name">Название</option>
            </select>

            <select id="sortDirection">
                <option value="asc">По возрастанию</option>
                <option value="desc">По убыванию</option>
            </select>
        </div>
        <div>
            <div>
                <label for="name">Название:</label>
                <input type="text" id="name" name="name"><br/>
            </div>
            <div>
                <label for="priceFrom">Цена от:</label>
                <input type="number" id="priceFrom" name="priceFrom"><br/>
            </div>
            <div>
                <label for="priceTo">Цена до:</label>
                <input type="number" id="priceTo" name="priceTo"><br/>
            </div>
            <div>
                <label for="dateFrom">Дата с:</label>
                <input type="datetime-local" id="dateFrom" name="dateFrom"><br/>
            </div>
            <div>
                <label for="dateTo">Дата до:</label>
                <input type="datetime-local" id="dateTo" name="dateTo"><br/>
            </div>
        </div>
        <button type="button" onclick="sortEvents(event)">Применить</button>
    </form>


    <script>
        function sortEvents(event) {
            event.preventDefault();
            const sortSelect = document.getElementById('sortSelect').value;
            const sortDirection = document.getElementById('sortDirection').value;

            const filterName = document.getElementById('name').value;
            const filterPriceFrom = document.getElementById('priceFrom').value;
            const filterPriceTo = document.getElementById('priceTo').value;
            const filterDateFrom = document.getElementById('dateFrom').value;
            const filterDateTo = document.getElementById('dateTo').value;

            console.log(filterDateTo);

            const urlParams = new URLSearchParams();
            if (sortSelect)
                urlParams.set('sortFieldName', sortSelect);
            if (sortDirection)
                urlParams.set('sortDirection', sortDirection);

            if (filterName)
                urlParams.set('name', filterName);

            if (filterPriceFrom)
                urlParams.set('priceFrom', filterPriceFrom);

            if (filterPriceTo)
                urlParams.set('priceTo', filterPriceTo);

            if (filterDateFrom)
                urlParams.set('dateFrom', filterDateFrom);

            if (filterDateTo)
                urlParams.set('dateTo', filterDateTo);


            const urlFilter = new URL(window.location.href);
            urlFilter.search = urlParams.toString();
            window.location.href = urlFilter.toString();
        }
    </script>

    <script>
        const url = new URL(window.location.href);
        const params = url.searchParams;
        params.forEach((value, name) => {
            if (name == "sortFieldName")
                document.getElementById("sortSelect").value = value;
            if (name == "sortDirection")
                document.getElementById("sortDirection").value = value;
            if (name == "name")
                document.getElementById("name").value = value;
            if (name == "priceFrom")
                document.getElementById("priceFrom").value = value;
            if (name == "priceTo")
                document.getElementById("priceTo").value = value;
            if (name == "dateFrom")
                document.getElementById("dateFrom").value = value;
            if (name == "dateTo")
                document.getElementById("dateTo").value = value;
        });
    </script>


    <div class="event-card-container">
        <div class="event-card" th:each="event : ${events}">
            <div>
                <div>
                    <strong>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/events/' + event.id}"
                           th:text="${event.name}">Название</a>
                        <p sec:authorize="!hasRole('ROLE_ADMIN')" th:text="${event.name}">Название</p>
                    </strong>
                </div>
                <div>
                    <span th:text="${'Дата проведения: ' + event.DateTime}">Дата</span>
                </div>
                <div>
                    <span th:text="${'Цена: ' + event.price + '₽'}">₽300.00</span>
                </div>
            </div>
            <div>
                <label>Количество билетов</label>
                <input th:id="${'eventCountInput-' + event.id}" type="number" min="0"/>
                <button th:id="${'add-to-cart-button-' + event.id}" onclick="addToCart(event)"
                        th:attr="data-event=${event}">Добавить
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>