<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/header_fragment.css">
    <title>Онлайн афиша</title>
</head>
<body>
    <header th:replace="~{fragments/header_fragment :: headFragment}"></header>

    <main>
        <p>Welcome to Main Page!</p>
        <p th:text="${example}"></p>
        <div class="event-card-container">
            <div class="event-card" th:each="event : ${events}">
                <div>
                    <div>
                        <strong><a href="" th:text="${event.name}">Название</a></strong>
                    </div>
                    <div>
                        <span th:text="${'Дата проведения: ' + event.DateTime}">Дата</span>
                    </div>
                    <div>
                        <span th:text="${'Организатор: ' + event.Organization}">Организатор</span></div>
                    <div>
                        <span th:text="${'Цена: ' + event.price + '₽'}">₽300.00</span>
                    </div>
                </div>
                <div>
                    <input type="number" min="0"/>
                    <button>Добавить</button>
                </div>
            </div>
        </div>
        <p>fdshfjkl</p>
        <div th:each="event : ${eventsSortedByDate}">
            <div>
                <div>
                    <strong><a href="" th:text="${event.name}">Название</a></strong>
                </div>
                <div>
                    <span th:text="${'Дата проведения: ' + event.DateTime}">Дата</span>
                </div>
                <div>
                    <span th:text="${'Организатор: ' + event.Organization}">Организатор</span></div>
                <div>
                    <span th:text="${'Цена: ' + event.price + '₽'}">₽300.00</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>