<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">
    <title>Заказы</title>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>

<main>
    <p>Здесь отображаются заказы</p>
    <div th:each="order : ${orders}">
        <h2 th:text="Заказ ${order.getId()}"></h2>
        <p th:text="${order.getEvent().getName()}"></p>
        <p th:text="${order.getEvent().getDateTime()}"></p>
    </div>
</main>
</body>
</html>