<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header_fragment.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Профиль</title>

    <script>
        function redirectToEditProfile(userId) {
            window.location.href = "/users/edit/" + userId;
        }
    </script>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>

<main>
    <h2 th:text="${'Профиль пользователя №' + user.id}"/>
    <!--
    lastName, firstName, patronymic, phoneNumber, birthDate, email, password
    -->
    <div class="profile-container">
        <div>
            <b>Фамилия</b>
            <p th:text="${user.lastName}"/>
        </div>
        <div>
            <b>Имя</b>
            <p th:text="${user.firstName}"/>
        </div>
        <div>
            <b>Отчество</b>
            <p th:text="${user.patronymic}"/>
        </div>
        <div>
            <b>Номер телефона</b>
            <p th:text="${user.phoneNumber}"/>
        </div>
        <div>
            <b>Дата рождения</b>
            <p th:text="${user.birthDate}"/>
        </div>
        <div>
            <b>Электронная почта</b>
            <p th:text="${user.email}"/>
        </div>
    </div>
    <button th:onclick="'redirectToEditProfile(' + ${user.id} + ')'">Редактировать</button>
</main>
</body>
</html>