<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/base.css">

    <link rel="stylesheet" href="/css/header_fragment.css">
    <title>Онлайн афиша</title>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>

<main>
    <h2 th:text="${'Профиль пользователя №' + user.id}"/>

    <div>
        <div></div>
        <p th:text="${user.lastName}"/>
        <p th:text="${user.firstName}"/>
        <p th:text="${user.patronymic}"/>
        <p th:text="${user.phoneNumber}"/>
        <p th:text="${user.birthDate}"/>
        <p th:text="${user.email}"/>
        <p th:text="${user.password}"/>
    </div>
</main>
</body>
</html>