<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header_fragment.css">
    <title>Онлайн афиша</title>
</head>
<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>

<main>
    <p>Welcome to users!</p>
    <p th:text="${example}"></p>
    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Email</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Заказы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.patronymic}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.birthDate}"></td>
            <td>
                <a th:href="${'order/' + user.id}">Перейти к заказам</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>